<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="StoreDb" connectionString="Data Source=localhost;Initial Catalog=Store;Integrated Security=True"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
		</compilation>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="StoreDbBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service behaviorConfiguration="StoreDbBehavior" name="StoreDb">
				<endpoint address="" binding="basicHttpBinding" contract="StoreDb"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
