<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
		</compilation>
	</system.web>

  <system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="StoreDbBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="customBinding0">
					<binaryMessageEncoding/>
					<httpTransport/>
				</binding>
			</customBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service behaviorConfiguration="StoreDbBehavior" name="StoreDb">
				<endpoint address="" binding="customBinding" bindingConfiguration="customBinding0" contract="StoreDb"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
