<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
  </system.web>

  <system.serviceModel>
		<!-- 1. Add this section -->
		<extensions>
			<bindingExtensions>
				<add name="pollingDuplexHttpBinding" type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement, System.ServiceModel.PollingDuplex, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</bindingExtensions>
		</extensions>
		<!-- End of 1. -->
		<behaviors>
			<serviceBehaviors>
				<behavior name="AsyncTaskBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!-- 2. Remove the custom binding and add the polling duplex binding. -->
		<bindings>
			<!--<customBinding>
                <binding name="customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>-->
			<pollingDuplexHttpBinding/>
		</bindings>
		<!-- End of 2. -->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service behaviorConfiguration="AsyncTaskBehavior" name="AsyncTask">
				<!--   <endpoint address="" binding="customBinding" bindingConfiguration="customBinding0"
                    contract="AsyncTask" />-->
				<endpoint address="" binding="pollingDuplexHttpBinding" contract="IAsyncTaskService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
